.row2 {
    padding: 80px;
}

.cntr {
    text-align: center;
}

.main {
    padding: 40px;
    margin-bottom: -80px;
}

.prizeimg {
    padding: 10px;
    margin:0px auto;
    display:block;
}

.lessSpace {
    margin-bottom: 0px;
}

.imgSize {
    height: 20%;
}

.afterDiv{
    padding-bottom: 20px;
}

.coin{
  width:16;
  height:16;
  margin-bottom: 3px;
  padding-left: 3px;
}

.topDistance{
  padding-top: 12px !important;
}


.space {
    padding-top: 20px;
}

.maxicenter{

  display: flex;
  align-items: center;
  justify-content: center;


}

.maxicenter2{

  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 200px


}

.centerMaster {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
